version: '3.8'

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: smart_safe_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./api/db.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: ./api
    restart: always
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=development
      - PORT=3002
      - DB_HOST=db
      - DB_USER=user
      - DB_PASS=password
      - DB_NAME=smart_safe_db
      # URL completa para facilitar
      - DATABASE_URL=mysql://user:password@db:3306/smart_safe_db
    depends_on:
      - db
    volumes:
      - ./api:/app
      - /app/node_modules
    # Usa nodemon para reiniciar ao salvar arquivos
    command: npx nodemon server.js

  client:
    build: ./client
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - api
    environment:
      - VITE_API_URL=http://localhost:3002
    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev

volumes:
  db_data: